.nav-border {
   border: 1px solid #fff;
}

html,body {
    margin: 0;
    padding: 0;
   font-family: "Poppins", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    color: #341e18;
}

h3 {
    font-size: 38px;
    font-weight: 600;
}

h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-top: 10px;
}

p {
	color:#000 ;
	line-height: 30px;
    font-size: 15px;
	font-family: "Open Sans", sans-serif;
}

.section-entry{
    padding: 5rem 0;
}

.page-section{
    padding: 3rem 0;
}


.header-box {
    text-align: center;
    margin-bottom: 40px;
    padding: 0 150px;
}

.c-btn {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 25px;
    border-radius: 10px;
}

.c-btn :hover {
    background-color: #000000;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
}

.btn-1 { 
    margin-top: 30px;

a {
    background-color: #fff;
    color: #000;
    padding: 13px 30px;
    font-family: "Open Sans", sans-serif;
    border-radius: 31px;
}

}


.home-product-wrapper {
    background-color: #e6bc8c;
}

.home-img-wrap  {
    background-image: url('../img/hm-info-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.home-about-wrapper {
    background-image: url('../img/background-img-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pro-box {
    background-color: #fff;
    padding: 15px;
}

.cta-wrapper {
    background-image: url('../img/bg-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    background-blend-mode: overlay;
    background-color: #0000008c;
    background-attachment: fixed;

    h3 {
        color: #fff;
        font-size: 53px;
        font-weight: 800;
     }

     p{
        color: #fff;
        font-weight: 300;
     }
}


.why-choose-wrapper {
    background-color: #e6bc8c;

h2{
    color: #341e18;
    font-weight: 800;
    font-size: 40px;
}

}


.testimonials-wrapper {
    background-image: url('../img/background-img-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .test-wrap {
       background: #FFF;
       background: radial-gradient(circle, rgba(255, 255, 255, 1) 25%, rgba(230, 188, 140, 1) 100%);
       padding: 20px;
       text-align: center;

        img {
            border-radius: 50%;
            width: 110px;
        }
    }

    .test-img-box {
        img {
           margin-top: -60px;
        }
    }

   .checked {
       color: orange;
    }

}

///////////////////////// Home 2 ////////////////////////////

.home2-banner-box {
    background-image: url('../img/home2-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 270px;
    background-blend-mode: overlay;
    background-color: #0000009e;
}

.hm-category-wrapper {
    background-color: #d3a378;

    .category-box {
        text-align: center; 
    }
}

.hm2-products-wrapper {
    background-color: #d3a378;
}

.visit-wrapper {
    background-image: url('../img/visit-background-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .visit-box {
      background-color: #ffffff9e;
      padding: 30px;
      text-align: center;
      border-radius: 20px;
    }

    p {
          color: #000;
          font-weight: 700;
    }
}

  .form-btn{
          background-color: #341e18;
          border: none;
          color: #fff;
          padding: 8px 20px;
          border-radius: 18px;
    }


///////////////////////// About Us ////////////////////////////

.banner-box {
  background-image: url('../img/about-banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 270px;
    background-blend-mode: overlay;
    background-color: #0000009e;
}

.ab-opening-hours-wrap {
    background-image: url('../img/background-img-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ab-icon-wrap {
    display: flex;

    img {
        background-color: #e6bc8c;
        padding: 10px;
        border-radius: 50%;
        width: 85px;
        height: 75px;
        line-height: 85px;
    }

    .icon-text-box {
        margin-left: 15px;

    }
}

.opening-box {
    background-image: url(../img/opening-bg-section.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.open-hours-card {
  width: 250px;
  background: linear-gradient(135deg, #d3a378, #e0b98c);
  border-radius: 20px;
  padding: 20px;
  color: #1e1e1e;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: -54px;
  margin-right: 15px;
}

.open-hours-card .icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.open-hours-card h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.open-hours-card p {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  font-size: 14px;
}

.open-hours-card span {
  font-weight: 500;
}

.btn-2 {
   margin-top: 20px;
   
a {
    background-color: #341e18;
    color: #fff;
    padding: 13px 30px;
    font-family: "Open Sans", sans-serif;
    border-radius: 30px;
}

}


///////////////////// grid //////////////////////

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 0;
  max-width: 1200px;
  margin: auto;
  border: 1px solid #ddd;
}

.grid-item {
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.text {
  background-color: #e6bc8c;
  color: #333;
}

.text h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.text p {
  font-size: 1rem;
  line-height: 1.6;
}

.image1 {
  background-image: url('../img/about-bg-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.image2 {
  background-image: url('../img/about-bg-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.image3 {
  background-image: url('../img/about-bg-3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.about-cta-wrapper {
  background-image: url('../img/about-cta-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgb(0 0 0 / 72%);
  padding: 130px 0;
  background-attachment: fixed;

  h2 {
    color: #fff;
    font-weight: 900;
  }

  p {
    color: #fff;
    font-weight: 300;
  }
}


/////////////////////////////////////

.news-letter-wrap {
    background-color: #e6bc8c;
}
.newsletter-container {
    text-align: center;
    border-radius: 12px;
    width: 100%;
}

.newsletter-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.newsletter-subtext {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}

.newsletter-form {
  display: flex;
  max-width: 100%;
  gap: 10px;
  justify-content: center;
}

.newsletter-form input[type="email"] {
  padding: 12px 16px;
  border: none;
  border-radius: 999px;
  width: 100%;
  outline: none;
}

.newsletter-form button {
  padding: 12px 24px;
  background-color: #3b2e24;
  color: white;
  border: none;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #2a211b;
}


 