/*====================================================================
	Footer layout-1
=====================================================================*/
.top-footer-wrapper {
	position: relative;
}

.footer-wrapper {
		background-color:  #341e18;
		padding: 150px 0;

	.footer-social-list {
		padding: 0;
        margin-bottom: 0;
        display: flex;
	}

	.pr-3 {
		padding-right: 1rem !important;
	}

	.pl-3{
		padding-left: 3px;
	}

	li i {
		color: #000;
		width: 35px;
		height: 35px;
		font-size: 23px;
		border: 1px solid #fff;
		text-align: center;
		line-height: 35px;
		transition: all 0.3s;
		background: #fff;
	}

	.footer-logo {
		width: 300px;
        margin-bottom: 20px;
	}

	p {
		color: #fff;
	}

	ul li {
		color: #fff;
		line-height: 30px;
		font-weight: 300;
	}

	h5 {
		font-weight: 600;
        font-size: 20px;
		color: #fff;
		text-transform: capitalize;
	}
}



.newsletter-box {
  padding: 20px;
  border: 1px solid white;
}

.newsletter-title {
  color: gray;
  margin-bottom: 10px;
}

.newsletter-form {
  display: flex;
}

.newsletter-form input[type="email"] {
  flex: 1;
  padding: 8px;
  border: none;
  font-size: 14px;
}

.newsletter-form button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.scroll-top {
	position: absolute;
	top: 5px;
	right: 20px;
	color: $color-white !important;
	cursor: pointer;
}
.scroll-top:hover {
	color: $light-bg !important;
}
.bottom-footer-wrapper {
	background-color: #341e18d6;
	padding: 1rem 0;
}
.dark .bottom-footer-wrapper {
	background-color: $dark-mode;
}
.footer-copyright-text {
	margin-bottom: 0;
	text-align: center;
	font-size: 0.85rem;
	color: $color-white;
}
.creator-link {
	color: #e6bc8c;
}
.creator-link:hover {
	color: $color-white;
}