/*===============================================================
	Contact us page
=================================================================*/
#mail-msg-alert {
	margin-bottom: 3rem;
}
#mail-msg-alert button.btn {
	display: table;
	margin: 0 auto;
}
#mail-msg {
	color: $color-white;
}
#mail-msg:hover {
	text-decoration: none;
}

.contact-form {
    width: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
}


.contact-section {
	

	&__widget {
		margin-bottom: 1rem;
		background-color: #e6bc8c;
        padding: 25px;
        border-radius: 15px;
		height: 100%;
		text-align: center;
	}

	span {
		margin-left: 10px;
	}

	.social-list {
		padding: 0;
    margin-bottom: 0;
    display: flex;

		ul, li {
			margin-right: 20px;
		}

		i {
			color: #000;
			width: 35px;
			height: 35px;
			font-size: 23px;
			border: 1px solid #fff;
			text-align: center;
			line-height: 35px;
			transition: all 0.3s;
			background: #fff;

			&:hover {
				color: $color-white;
				border-color: transparent;
				background-color: $color-text;
			}
		}
	}
}
.dark .contact-section .social-list i {
	color: $light-bg2;
	border-color: $light-bg2;
	transition: all .3s;

	&:hover {
		color: $color-white;
		border-color: $color-white;
	}
}
.contact-map {
	position: relative;
	padding-bottom: 34%;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

.contact-section__widget a {
      color: #000;
}

.c-btn {
    background-color: #341e18;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
}

.contact1-page-banner {
	background-image: url('../img/cont2-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 270px 100px;
    background-blend-mode: overlay;
    background-color: rgb(0 0 0 / 60%);
}

.contact2-page-banner {
    background-image: url('../img/contact-us-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 270px 100px;
    background-blend-mode: overlay;
    background-color: rgb(0 0 0 / 60%);
}

.contact2-form-wrap {
    background-color: #fef6ee;

	.contact-form__input {
    border-radius: 0;
    border-bottom: 3px solid transparent;
    background-color: #ffffff;
}

	.contact-form__textarea {
		border-radius: 0;
		border-bottom: 3px solid transparent;
		background-color: #fff;
	}
}

.contact2-info-wrapper {
	background-image: url('../img/contact-bg-img.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay;
    background-color: rgb(0 0 0 / 60%);

	.cont2-map iframe {
		border-radius: 15px;
	}

	.cont2-box {
        background-color: #ffffffd9;
		display: flex;
		justify-content: start;
		align-items: center;
		padding: 20px;
		border-radius: 20px;

	   .cont2-icon-box i {
			background-color: #341e18;
			color: #fff;
			padding: 20px;
			font-size: 25px;
			border-radius: 50%;
			width: 65px;
			height: 65px;
			line-height: 28px;
			text-align: center;
		}

		.cont2-txt-box {
			margin-left: 35px;
		}
	}
}



//////////////////// contact us /////////////////////
 
.contact3-banner-box {
    background-image: url('../img/contact-us-banner-3.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 270px;
	background-blend-mode: overlay;
    background-color: rgb(0 0 0 / 60%);

 }


	.cont3-box {
        background-color: #ffffffd9;
		display: flex;
		justify-content: start;
		align-items: center;
		padding: 20px;
		border-radius: 20px;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

	   .cont3-icon-box i {
			background-color: #341e18;
			color: #fff;
			padding: 20px;
			font-size: 25px;
			border-radius: 50%;
			width: 65px;
			height: 65px;
			line-height: 28px;
			text-align: center;
		}

		.cont3-txt-box {
			margin-left: 35px;
		}	
	}

